<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8"><b style="font-size:30px;">マイページ</b></div>
  </div>

  <div class="row justify-content-center" style="margin-top:30px;">
    <div class="col-md-3" style="margin:auto 0; font-size:30px;"><strong>氏名 (姓名)</strong></div>
    <div class="col-md-3" style="padding-left:0px; font-size:30px;"><strong><%= @customer.first_name %><span style="margin-left:10px;"><%= @customer.last_name %></strong></span></div>
  </div>

  <div class="row justify-content-center" style="margin-top:30px;">
    <div class="col-md-3" style="margin:auto 0; font-size:30px;"><strong>メールアドレス</strong></div>
    <div class="col-md-3" style="padding-left:0px; font-size:30px;"><strong><%= @customer.email %></strong></div>
  </div>

  <div class="row justify-content-center" style="margin-top:30px;">
    <div class="col-md-3" style="margin:auto 0; font-size:30px;"><strong>ステータス</strong></div>
    <div class="col-md-2" style="margin:auto 0; padding-left:0px; font-size:30px;">
      <% if @customer.is_deleted == true %>
        <strong style="color: #808080;">無効</strong>
      <% else %>
        <strong style="color:#3cb371;">有効</strong>
      <% end %>
    </div>
    <div class="col-md-1" style="padding-left:0px; padding-left:80px;">
      <%= link_to "編集する",edit_customers_path,class:"btn btn-success text-light",style:"width:130px; height:45px; font-size:20px;" %>
    </div>
  </div>
  
  <div class="row justify-content-center" style="margin-top:50px;">
    <div class="col-md-10"><b style="font-size:30px;">新着情報</b></div>
  </div>
  
  <div class="row justify-content-start">
    <% @recipe.each do |recipe| %>
    <div class="col-md-3" style="margin-top:20px;">
      <div class="card shadow-lg recipe-card">
        <%= link_to recipe_path(recipe.id) do %>
          <%= image_tag recipe.image,class:"card-img-top"; %>
        <% end %>
        <div class="card-body">
          <div class="row">
            <div class="col-12">
              <p class="card-title" style="font-size:25px;">
                <strong><span><%= recipe.title %></span></strong>
              </p>
              <span><i class="fas fa-user"></i> By <%= recipe.customer.first_name %><%= recipe.customer.last_name %> </span></br>
              <span><%= recipe.comments.count %>コメント</span>
              <span><%= recipe.bookmarks.count %>ブックマーク</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <% end %>
  </div>
  
  <div style="margin-top:50px; margin-left:40%; font-size:25px;">
    <%= paginate @recipe %>
  </div>

</div>