<div class ="container">
  <div class="row justify-content-center">
    <div class="col-md-10"><b style="font-size:30px;">レシピ詳細</b></div>
  </div>

  <div class="row justify-content-center" style="margin-top:20px;">
    <div class="col-md-4" style="padding-left:0px; ">
      <div style="font-size:30px; text-align: center;"><b><%= @recipe.title %></b></div>
      <div style="text-align: end; font-size:20px;"><b>by <%= @recipe.customer.first_name %> <%= @recipe.customer.last_name %></b></div>
    </div>
    <div class="col-md-8 d-flex align-items-end" style="padding-left:20px; margin-left:0px; font-size:23px;"><b>材料リスト(<%= @recipe.quantity%>人分)</b></div>
    
  </div>

  <div class="row justify-content-center" style="margin-top:20px;">
    <div class="col-md-4" style="text-align: end;">
      <%= image_tag @recipe.image, size: "280x280" %>
      <div>
        <span style="padding-right:110px;"><i class="fas fa-tag fa-2x"></i><b style="font-size:25px;">タグ</b></span>
        <span>
          <%= link_to "ﾌﾞｯｸﾏｰｸ",bookmarks_path(recipe_id: @recipe.id),method: :post,class:"btn btn-warning text-light",style:"width:90px; height:35px;" %>
        </span>
      </div>

      <div class="pull-right" style="width:300px; font-size:20px; word-break: keep-all; text-align: left; margin-left:70px;">
        <% @recipe.tags.each do |tag|%>
          <%= tag.name %>
        <% end %>
      </div>
    </div>

    <div class="col-md-4" style="padding-left:20px;">
      <% @recipe.materials.each do |material|%>
        <div style="font-size:23px;">
          <span style="display: inline-block; width: 210px; border-bottom-style: solid; border-color: #696969;"><%= material.name %></span>
          <span style="display: inline-block; width: 120px; border-bottom-style: solid; border-color: #696969;"><%= material.quantity %></span>
        </div>
      <% end %>
    </div>

    <div class="col-md-3" style="padding-left:20px;">
      <% @recipe.seasonings.each do |seasoning|%>
        <div style="font-size:23px;">
          <span style="display: inline-block; width: 120px; border-bottom-style: solid; border-color: #696969;"><%= seasoning.name %></span>
          <span style="display: inline-block; width: 120px; border-bottom-style: solid; border-color: #696969;"><%= seasoning.quantity %></span>
        </div>
      <% end %>
　   </div>
  </div>

  <div class="row justify-content-center" style="margin-top:20px;">
    <div class="col-md-5" style="font-size:27px;"><b>作り方</b></div>
    <div class="col-md-5" style="font-size:20px; padding-left:50px;"><b style="font-size:27px;">コメント</b><b style="margin-left:15px;"><%= @recipe.comments.count%>件</b><b style="padding-left:127px;">投稿者</b></div>
  </div>

  <div class="row justify-content-center" style="margin-top:20px; margin-left:80px;">
    <div class="col-md-5" style="font-size:20px;">
      <% @recipe.steps.each do |step|%>
        <div style="font-size:22px;">
          <span style="display: inline-block; width: 500px; text-align: left; margin-top:5px; border-bottom-style: solid; border-color: #696969;"><%= step.content %></span>
        </div>
      <% end %>
    </div>

    <div class="col-md-7" style="font-size:20px; padding-left:91px;">
      <% @comments.each do |comment|%>
      <div style="font-size:22px;">
        <span style="display: inline-block; width: 280px; text-align: left; margin-top:5px; border-bottom-style: solid; border-color: #696969;"><%= comment.content %></span>
        <span style="display: inline-block; width: 150px; margin-top:5px; font-size:20px; border-bottom-style: solid; border-color: #696969;"><%= comment.customer.first_name %><%= comment.customer.last_name %></span>
        <span><%= link_to "削除",admin_comment_path(comment),method: :delete,class:"btn btn-danger text-light",style:"width:60px; height:35px;" ,"data-confirm" => "本当に削除しますか？" %></span>
      </div>
      <% end %>
      <div style="margin-top:20px; margin-left:25%; font-size:25px;">
        <%= paginate @comments %>
      </div>

    </div>
  </div>

</div>