<div class ="container">
  <div class="row justify-content-center">
    <div class="col-md-10"><b style="font-size:25px;">レシピ投稿</b></div>
  </div>

  <%= form_with model: @recipe, url:recipes_path,local: true do |f| %>
    <div class="row justify-content-center" style="margin-top:20px;">
      <div class="col-md-3" style="padding-left:0px;"><%= f.text_field :title,placeholder:"タイトル記入　17文字以内",style:"width:280px; height:40px;" %></div>
  　   <div class="col-md-5" style="padding-left:5px; "> <%= f.text_field :quantity,placeholder:"5",style:"width:50px; height:40px;" %><b> 人前</b></div>
  　   <div class="col-md-4" style="padding-left:20px;"></div>
    </div>

    <div class="row justify-content-center" style="margin-top:20px;">
      <div class="col-md-3" style="padding-left:0px; witdth:"280px;">
        <%= f.label :image do %>
          <i class="fas fa-camera-retro fa-2x"></i>
          <%= f.file_field :image, style: 'display:none' %>
        <% end %>
      </div>
　    <div class="col-md-5" style="padding-left:0px; margin-left:0px; font-size:23px;"><b>材料リスト</b></div>
　    <div class="col-md-4" style="padding-left:20px;"></div>
    </div>

    <div class="row justify-content-center" style="margin-top:0px; padding-left:150px;">
      <div class="col-md-3" style="padding-left:10px;">
        <img id="img_prev" width="280px">
      </div>

　    <div class="col-md-4" style="padding-left:45px; font-size:17px; justify-content:start;">
　      <div id='materials'>
          <%= f.fields_for :materials do |material| %>
            <%= render 'material_fields', :f => material %>
          <% end %>
          <div class='row justify-content-center' style="margin-top:20px;">
            <%= link_to_add_association "材料の追加", f, :materials ,class:"btn btn-success text-light",style:"width:170px; height:40px; background: orange; border: 0px solid orange;"%>
          </div>
        </div>
　    </div>

　    <div class="col-md-4" style="padding-left:20px; font-size:17px; justify-content:start;">
　      <div id='seasonings'>
          <%= f.fields_for :seasonings do |seasoning| %>
            <%= render 'seasoning_fields', :f => seasoning %>
          <% end %>
          <div class='row justify-content-center' style="margin-top:20px;">
            <%= link_to_add_association "調味料の追加", f, :seasonings ,class:"btn btn-success text-light",style:"width:170px; height:40px; background: orange; border: 0px solid orange;"%>
          </div>
        </div>

　    </div>
　  </div>

    <div class="row justify-content-center" style="margin-top:20px;">
　    <div class="col-md-4" style="padding-left:0px; margin-left:0px; font-size:25px; "><b>作り方</b></div>
　    <div class="col-md-2" style="padding-left:0px; margin-left:0px;"></div>
　    <div class="col-md-2" style="padding-left:20px; "><i class="fas fa-tag fa-2x"></i><b style="font-size:25px;">タグ</b></div>
    </div>

    <div class="row justify-content-center" style="margin-top:0px; padding-left:150px;">
      <div class="col-md-7" style="padding-left:0px; padding-right:0px; font-size:17px; justify-content:start;">
　      <div id='steps'>
          <%= f.fields_for :steps do |step| %>
            <%= render 'step_fields', :f => step %>
          <% end %>
          <div class='row justify-content-start' style="margin-top:20px;">
            <%= link_to_add_association "手順の追加", f, :steps ,class:"btn btn-success text-light",style:"width:170px; height:40px; margin-left:30px; background: orange; border: 0px solid orange;"%>
          </div>
        </div>
　    </div>

　    <div class="col-md-4" style="padding-left:45px; font-size:17px; justify-content:start;">
　      <div id='tags'>
          <%= f.fields_for :tags do |tag| %>
            <%= render 'tag_fields', :f => tag %>
          <% end %>
          <div class='row justify-content-start' style="margin-top:20px;">
            <%= link_to_add_association "タグの追加", f, :tags ,class:"btn btn-success text-light",style:"width:170px; height:40px; background: orange; border: 0px solid orange; "%>
          </div>
        </div>
　    </div>
    </div>

    <div class="row justify-content-center" style="margin-top:30px; margin-left:30px;">
      <%= f.submit "レシピ投稿",class:"btn btn-success text-light",style:"width:150px; height:40px;"%>
    </div>
  <% end %>
</div>