<%= form_with model: @admin, url: admin_session_path do |f| %>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8"><b style="font-size:30px;">管理者ログイン</b></div>
  </div>

  <div class="row justify-content-center" style="margin-top:30px; margin-left:30px;">
    <div class="col-md-3" style="margin:auto 0; font-size:30px;">メールアドレス</div>
    <div class="col-md-4" style="padding-left:0px; font-size:25px;"><%= f.text_field :email,placeholder:"sample1111@me.com",style:"width:380px; height:40px;"%></div>
  </div>

  <div class="row justify-content-center" style="margin-top:30px; margin-left:30px;">
    <div class="col-md-3" style="margin:auto 0; font-size:30px;"><%= f.label :パスワード %></div>
    <div class="col-md-4" style="padding-left:0px; font-size:25px;"><%= f.password_field :password,placeholder:"6文字以上", autocomplete: "new-password",style:"width:380px; height:40px;" %></div>
  </div>

  <div class="row justify-content-center" style="margin-top:30px; margin-left:30px;">
    <div><%= f.submit "ログイン",class:"btn btn-primary text-light",style:"width:150px; height:45px; font-size:20px;"%></div>
  </div>
</div>

<% end %>