<div class ="container">
  <div class="row justify-content-center">
    <div class="col-md-12">
      <p style="font-size:45px;"><strong>ようこそ! CookMe(クックミー)へ</strong></p>
      <strong style="font-size:22px; text-align: center;">
        このコミュニティサイトは世界の共通の文化である「食」を通じて、</br>
        世界の会員様と繋がり多種多様な料理レシピを気軽に共有できるサイトを目指しています。</br>
        レシピ投稿・編集、コメント投稿、ブックマーク登録は新規登録及びログインが必要になります。
      </strong>
    </div>
  </div>

  <div class="row justify-content-center" style="margin-top:50px;">
    <div class="col-md-11"><b style="font-size:30px;">新着情報</b></div>
  </div>

  <div class="row justify-content-start">
    <% @recipe.each do |recipe| %>
    <div class="col-md-3" style="margin-top:20px;">
      <div class="card shadow-lg recipe-card">
        <%= link_to recipe_path(recipe.id) do %>
          <%= image_tag recipe.image,class:"card-img-top"; %>
        <% end %>
        <div class="card-body">
          <div class="row">
            <div class="col-12">
              <p class="card-title" style="font-size:25px;">
                <strong><span><%= recipe.title %></span></strong>
              </p>
              <span><i class="fas fa-user"></i> By <%= recipe.customer.first_name %><%= recipe.customer.last_name %> </span></br>
              <span><%= recipe.comments.count %>コメント</span>
              <span><%= recipe.bookmarks.count %>ブックマーク</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <% end %>
  </div>

  <div style="margin-top:50px; margin-left:75%; font-size:25px;">
    <%= link_to"全ての商品を見る >",recipes_path %>
  </div>
</div>