<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-11 d-flex align-items-center"><span style="font-size:30px;"><%= (@customer.first_name + @customer.last_name) %>さんの会員詳細</span></div>
  </div>

  <%= form_with model: @customer, url:admin_customer_path(@customer), method: :patch  do |f|%>
  <div class="row justify-content-center" style="margin-top:25px">
    <h3 class="row">
      <strong class="col-md-5">
        <span >会員ID</span>
      </strong>
      <strong class="col-md-6">
        <span ><%= @customer.id %></span>
      </strong>
    </h3>
    
    <h3 class="row">
      <strong class="col-md-5">
        <span >氏名</span>
      </strong>
      <strong class="col-md-7">
        <span ><%= f.text_field :first_name,style:"width:200px; height:35px;"%><%= f.text_field :last_name,style:"width:200px; height:35px;"%></span>
      </strong>
    </h3>
    
    <h3 class="row">
      <strong class="col-md-5">
        <span >メールアドレス</span>
      </strong>
      <strong class="col-md-7">
        <span><%= f.email_field :email, autofocus: true, autocomplete: "email",style:"width:200px; height:35px;"%></span>
      </strong>
    </h3>
    
    <h3 class="row">
      <strong class="col-md-5">
        <span >会員ステータス</span>
      </strong>
      <strong class="col-md-7">
        <%= f.radio_button :is_deleted, "false",style:"font-size:20px;" %>
        <%= f.label :is_deleted, "有効",class:"mr-3" ,style:"font-size:17px;" %>
        <%= f.radio_button :is_deleted, "true" %>
        <%= f.label :is_deleted, "退会" ,style:"font-size:17px;" %>
      <strong>
    </h3>

    <div class="row" style="margin-top:30px;">
      <%= f.submit "変更を保存する",class:"btn btn-success text-center ",style:"width:170px; height:50px; font-size:20px;" %>
    </div>
  </div>
  <% end %>
</div>