<div class ="container">
  <div class="row justify-content-center">
    <div class="col-md-10 d-flex align-items-center"><b style="font-size:25px;">レシピ一覧</b></div>
  </div>

  <div class="row justify-content-start">
    <% @recipes.each do |recipe| %>
    <div class="col-md-3" style="margin-top:20px;">
      <div class="card shadow-lg recipe-card">
        <%= link_to recipe_path(recipe.id) do %>
          <%= image_tag recipe.image,class:"card-img-top"; %>
        <% end %>
        <div class="card-body">
          <div class="row">
            <div class="col-12">
              <p class="card-title" style="font-size:25px;">
                <strong><span><%= recipe.title %></span></strong>
              </p>
              <span><i class="fas fa-user"></i> By <%= recipe.customer.first_name %><%= recipe.customer.last_name %> </span></br>
              <span><%= recipe.comments.count %>コメント</span>
              <span><%= recipe.bookmarks.count %>ブックマーク</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <% end %>
  </div>

  <div style="margin-top:50px; margin-left:42%; font-size:25px;">
    <%= paginate  @recipes %>
  </div>
</div>