<div class ="container">
  <div class="row justify-content-center">
    <div class="col-md-10 d-flex align-items-center"><b style="font-size:25px;">レシピ一覧</b></div>
  </div>

  <div class="row justify-content-start">
    <% @recipes.each do |recipe| %>
    <div class="card col-md-12" style="width: 600px; height:300px; margin-top:10px;">
      <div class="row g-0">
        <div class="col-md-5" style="padding-left:0px;">
          <%= link_to recipe_path(recipe.id) do %>
            <%= image_tag recipe.image, width: "450", height: "300", class:"card-img-top;" %>
          <% end %>
        </div>
        <div class="col-md-5">
          <div class="card-body">
            <h5 class="card-title" style="font-size:35px;"><strong><span><%= recipe.title %></span></strong></h5>
            <span style="font-size:1.5em;"><i class="fas fa-user"></i> By <%= recipe.customer.first_name %><%= recipe.customer.last_name %> </span></br>
            <span style="font-size:1.5em;"><%= recipe.comments.count %>コメント</span>
            <span style="font-size:1.5em;"><%= recipe.bookmarks.count %>ブックマーク</span>
          </div>
        </div>
      </div>
    </div>
    <% end %>
  </div>

  <div style="margin-top:50px; margin-left:42%; font-size:25px;">
    <%= paginate  @recipes %>
  </div>
</div>