<%= form_with model: @customer, url: customer_registration_path do |f| %>
  <%= render "public/shared/error_messages", resource: resource %>
  
<div class="container">
  <div class="row">
    <div class="col-md-12">
       <h2>新規登録</h2>
    <div>
  </div>
  
  <div class="row">
    <div class="col-md-2">氏名(姓名)<div>
    <div class="col-md-5"><%= f.text_field :first_name,placeholder:"令和",style:"width:280px; height:35px;"%><div>
    <div class="col-md-5"><%= f.text_field :last_name,placeholder:"義孝",style:"width:280px; height:35px;"%><div>
  </div>
  
  <div class="row">
    <div class="col-md-2"><%= f.label :メールアドレス %></div>
    <div class="col-md-10"><%= f.email_field :email, autofocus: true, autocomplete: "email",placeholder:"sample@example.com",style:"width:280px; height:35px;"%></div>
  </div>

  <div class="row">
    <div class="col-md-2"><%= f.label :パスワード %></div>
    <% if @minimum_password_length %>
    <div><%= f.password_field :password,placeholder:"6文字以上", autocomplete: "new-password" %></div>
    <% end %>
  </div>

  <div class="row">
    <%= f.submit "新規登録" %>
  </div>
  
</div>
<% end %>