<div class ="container">
  <div class="row justify-content-center">
    <div class="col-md-10 d-flex align-items-center"><b style="font-size:30px;">ブックマーク一覧</b></div>
  </div>

  <div class="row justify-content-start">
    <% @bookmarks.each do |bookmark| %>
    <div class="col-md-3" style="margin-top:30px;">
      <div class="card shadow-lg recipe-card">
        <%= link_to recipe_path(bookmark.recipe.id) do %>
          <%= image_tag bookmark.recipe.image,class:"card-img-top"; %>
        <% end %>
        <div class="card-body">
          <div class="row">
            <div class="col-12">
              <p class="card-title" style="font-size:25px;">
                <strong><span><%= bookmark.recipe.title %></span></strong>
              </p>
              <span><i class="fas fa-user"></i> By <%= bookmark.recipe.customer.first_name %><%= bookmark.recipe.customer.last_name %> </span></br>
              <span><%= link_to "削除",bookmark_path(bookmark), method: :delete,class:"btn btn-danger text-light",style:"width:60px; height:40px;"%></span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <% end %>
  </div>

  <div style="margin-top:50px; margin-left:42%; font-size:25px;">
    <%= paginate @bookmarks %>
  </div>
</div>