<!DOCTYPE html>
<html>
  <head>
    <title>CookMe</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://kit.fontawesome.com/0a8cfa57a2.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%# ヘッダー%>

    <nav class=" navbar navbar-expand-lg navbar-light" style="background-color: #ffffff;">
      <div class="container-fluid">
        <%= link_to root_path ,class:"navbar-brand" do %>
          <%= image_tag 'image1.jpg', size: "200x200" %>
        <% end %>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div id="navbarNav">
          <ul class="navbar-nav mr-auto">
            <% if customer_signed_in? %>
            <li class="nav-item">
              <%= link_to  customers_path, class:"nav-link" do %>
                <button  class="btn btn-outline-dark" style="width:150px; height:50px; font-size:20px; margin-right:20px;">マイページ</button>
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to  recipes_path, class:"nav-link" do %>
                <button  class="btn btn-outline-dark" style="width:150px; height:50px; font-size:20px; margin-right:20px;">レシピ一覧</button>
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to bookmarks_path, class:"nav-link" do %>
                <button  class="btn btn-outline-dark" style="width:200px; height:50px; font-size:20px; margin-right:20px;">ブックマーク一覧</button>
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to destroy_customer_session_path, method: :delete, class:"nav-link" do %>
                <button  class="btn btn-outline-dark" style="width:150px; height:50px; font-size:20px; margin-right:20px;">ログアウト</button>
              <% end %>
            </li>

            <% elsif admin_signed_in? %>
            <li class="nav-item">
              <%= link_to  admin_customers_path, class:"nav-link" do %>
                <button  class="btn btn-outline-dark" style="width:150px; height:50px; font-size:20px; margin-right:20px;">会員一覧</button>
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to  admin_root_path, class:"nav-link" do %>
                <button  class="btn btn-outline-dark" style="width:150px; height:50px; font-size:20px; margin-right:20px;">レシピ一覧</button>
              <% end %>
            </li>

            <li class="nav-item">
              <%= link_to destroy_admin_session_path, method: :delete, class:"nav-link" do %>
                <button  class="btn btn-outline-dark" style="width:150px; height:50px; font-size:20px; margin-right:20px;">ログアウト</button>
              <% end %>
            </li>

            <% else %>
            <li class="nav-item">
              <%= link_to  recipes_path, class:"nav-link" do %>
                <button  class="btn btn-outline-dark" style="width:150px; height:50px; font-size:20px; margin-right:20px;">レシピ一覧</button>
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to new_customer_registration_path, class:"nav-link" do %>
                <button  class="btn btn-outline-dark" style="width:120px; height:50px; font-size:20px; margin-right:20px;">新規登録</button>
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to new_customer_session_path, class:"nav-link" do %>
                <button  class="btn btn-outline-dark" style="width:120px; height:50px; font-size:20px; margin-right:20px;">ログイン</button>
              <% end %>
            </li>
            <% end %>
          </ul>

          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <input class="form-control" type="search" placeholder="Search" aria-label="Search">
            </li>
            <li class="nav-item">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <%= yield %>
  </body>
</html>
