<!DOCTYPE html>
<html>
  <head>
    <title>CookMe</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://kit.fontawesome.com/0a8cfa57a2.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%# ヘッダー %>
    <nav class=" navbar navbar-expand-lg navbar-light" style="background-color: #ffffff;">
      <div class="container-fluid">
        <% if admin_signed_in? %>
          <%= link_to admin_root_path ,class:"navbar-brand" do %>
            <%= image_tag 'image1.jpg', size: "200x200" %>
          <% end %>
        <% else customer_signed_in? %>
          <%= link_to root_path ,class:"navbar-brand" do %>
            <%= image_tag 'image1.jpg', size: "200x200" %>
          <% end %>
        <% end %>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div id="navbarNav">
          <ul class="navbar-nav mr-auto">
            <% if customer_signed_in? %>
            <li class="nav-item">
              <%= link_to  customers_path, class:"nav-link" do %>
                <button  class="btn btn-outline-dark" style="width:150px; height:50px; font-size:20px; margin-right:20px;">マイページ</button>
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to  recipes_path, class:"nav-link" do %>
                <button  class="btn btn-outline-dark" style="width:150px; height:50px; font-size:20px; margin-right:20px;">レシピ一覧</button>
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to bookmarks_path, class:"nav-link" do %>
                <button  class="btn btn-outline-dark" style="width:200px; height:50px; font-size:20px; margin-right:20px;">ブックマーク一覧</button>
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to destroy_customer_session_path, method: :delete, class:"nav-link" do %>
                <button  class="btn btn-outline-dark" style="width:150px; height:50px; font-size:20px; margin-right:20px;">ログアウト</button>
              <% end %>
            </li>

            <% elsif admin_signed_in? %>
            <li class="nav-item">
              <%= link_to  admin_customers_path, class:"nav-link" do %>
                <button  class="btn btn-outline-dark" style="width:150px; height:50px; font-size:20px; margin-right:20px;">会員一覧</button>
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to  admin_root_path, class:"nav-link" do %>
                <button  class="btn btn-outline-dark" style="width:150px; height:50px; font-size:20px; margin-right:20px;">レシピ一覧</button>
              <% end %>
            </li>

            <li class="nav-item">
              <%= link_to destroy_admin_session_path, method: :delete, class:"nav-link" do %>
                <button  class="btn btn-outline-dark" style="width:150px; height:50px; font-size:20px; margin-right:20px;">ログアウト</button>
              <% end %>
            </li>

            <% else %>
            <li class="nav-item">
              <%= link_to  recipes_path, class:"nav-link" do %>
                <button  class="btn btn-outline-dark" style="width:150px; height:50px; font-size:20px; margin-right:20px;">レシピ一覧</button>
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to new_customer_registration_path, class:"nav-link" do %>
                <button  class="btn btn-outline-dark" style="width:120px; height:50px; font-size:20px; margin-right:20px;">新規登録</button>
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to new_customer_session_path, class:"nav-link" do %>
                <button  class="btn btn-outline-dark" style="width:120px; height:50px; font-size:20px; margin-right:20px;">ログイン</button>
              <% end %>
            </li>
            <% end %>
          </ul>

          <% if admin_signed_in?%>
          <ul class="list-unstyled" style="margin-top:10px;">
            <li class="mr-4">
              <%= search_form_for @search, url: admin_searches_path do |f| %>
              <div class="d-flex justify-content-end">
                <%= f.search_field :title_or_tags_name_cont, class: 'form-control mr-2', placeholder: '検索ワード', style:"border: 2px solid #000000; width: 400px;"%>
                <%= f.submit '検索', class: 'btn btn-primary' %>
              </div>
              <% end %>
            </li>
          </ul>
          <% else%>
          <ul class="list-unstyled" style="margin-top:10px;">
            <li class="mr-4">
              <%= search_form_for @search, url: searches_path do |f| %>
              <div class="d-flex justify-content-end">
                <%= f.search_field :title_or_tags_name_cont, class: 'form-control mr-2', placeholder: '検索ワード', style:"border: 2px solid #000000; width: 400px;"%>
                <%= f.submit '検索', class: 'btn btn-primary' %>
              </div>
              <% end %>
            </li>
          </ul>
          <% end %>
        </div>
      </div>
    </nav>

    <%# 各view表示%>
    <div style="margin-top:10px;">
      <%= yield %>
    </div>

    <%# フッター %>
    <div class="mt-auto" style="padding-top:50px;">
      <P class="text-center" style="font-size:20px;">CopyRight Infratop.inc</P>
    </div>
  </body>
</html>
